/*page styling*/
* {
    padding: 0;
  }

/*Readme>Resources>Flex all elements*/
body * {
    font-family: 'Times New Roman', Times, serif  ;
    font-size: 16px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 250%;
}

nav * {
    font-size:120%;
    display: inline; /*list items in a row*/
    margin-right: 20px;
    align-self: flex-end; /*right-align list still inline*/
    margin-right: 20px;
    list-style: none; /*remove bullets/link color/underline*/
    text-decoration: none;
    color: black;
}

main section a {
    font-size: 185%;
    font-weight: bold;
    text-decoration: underline; 
}


[class~="project"] img {
    height: 300px;
    width: 300px;
    object-fit: cover; /*see Object Fit reference in readme.md*/
    object-position: 20% 0;
}

/*first application's image larger in size than the others*/
.project1 img {
    height: 500px;
    width: 500px;
    object-fit: cover; /*see Object Fit reference in readme.md*/
    object-position: 20% 0;
}




