/*page styling*/

* {
    padding: 0;
  }

body * /*Readme>Resources>Flex all elements*/{
    font-family: 'Times New Roman', Times, serif  ;
    font-size: 16px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 250%;
}

nav {
    font-size:150%;
}

/*remove bullets/link color/underline*/
ul * {
    list-style: none;
    text-decoration: none;
    color: black;
}

main section a {
    font-size: 185%;
    font-weight: bold;
    text-decoration: underline; 
}




